<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501639988355-th8t1m5d7d0mhkp970im45csem2qa43b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501639988355-th8t1m5d7d0mhkp970im45csem2qa43b</string>
	<key>API_KEY</key>
	<string>AIzaSyAEk1oChSNjAwJsdPnTMsXjPu71wDAFRHk</string>
	<key>GCM_SENDER_ID</key>
	<string>501639988355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fcm</string>
	<key>PROJECT_ID</key>
	<string>learn-3aa57</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-3aa57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501639988355:ios:80863804b33e099fe387b6</string>
	<key>DATABASE_URL</key>
	<string>https://learn-3aa57.firebaseio.com</string>
</dict>
</plist>